{
  "openapi": "3.1.0",
  "info": {
    "title": "PlanSo Connector",
    "description": "\n## PlanSo Order Management Integration\n\nThis connector provides a REST API for the PlanSo workshop management system, enabling order synchronization and queries.\n\n### Features\n\n- **Order Sync**: Automatic background synchronization from PlanSo to local SQLite database\n- **Rich Queries**: Search orders by plate, person, phone, email, status, damage type, and date ranges\n- **Parts Tracking**: View parts lists with order/delivery status\n- **CRUD Operations**: Create, update, and delete orders in PlanSo\n\n### Sync Architecture\n\nThe connector maintains a local SQLite database that mirrors PlanSo data:\n\n1. **Background Sync**: Runs automatically during business hours (configurable)\n2. **Manual Sync**: Trigger via `/api/sync` endpoint\n3. **Incremental Updates**: Only fetches changed orders when possible\n\n### Data Model\n\n- **Orders**: Repair projects with customer, vehicle, and scheduling info\n- **Parts**: Individual parts linked to orders with ordering/delivery status\n- **Extended Data**: Damaged areas, documents, images (optional sync)\n\n### Authentication\n\nAll endpoints (except `/health` and `/ready`) require an `X-API-Key` header. Requests may also be restricted by IP whitelist.\n",
    "contact": {
      "name": "AICO Engineering",
      "url": "https://aicoflow.com/"
    },
    "license": {
      "name": "Proprietary"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://reit.connectors.aicoflow.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:8102",
      "description": "Local development"
    }
  ],
  "paths": {
    "/api/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Login to PlanSo",
        "description": "Authenticate with PlanSo using username and password. Session cookies are persisted for subsequent requests.",
        "operationId": "login_api_login_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Login status and session validity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/sync": {
      "post": {
        "tags": [
          "Sync"
        ],
        "summary": "Trigger manual sync",
        "description": "Manually trigger a synchronization of orders from PlanSo to the local database.\n\nThe sync process:\n1. Fetches the project list from PlanSo\n2. For each project, fetches order details\n3. Optionally fetches parts data (if configured)\n4. Stores everything in the local SQLite database\n\n**Note**: Background sync runs automatically during business hours if enabled.",
        "operationId": "sync_orders_api_sync_post",
        "responses": {
          "200": {
            "description": "Sync result with current status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/sync/status": {
      "get": {
        "tags": [
          "Sync"
        ],
        "summary": "Get sync status",
        "description": "Returns the current synchronization status including last sync time, duration, and any errors.",
        "operationId": "get_sync_status_api_sync_status_get",
        "responses": {
          "200": {
            "description": "Current sync status details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncStatusModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/identify": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Identify caller by plate + name",
        "description": "Identify a caller by matching their license plate and verifying their name.\n\n**Enhanced with phonetic matching**: Handles spoken license plates like:\n- \"l b a r 3 7 3\" \u2192 \"LB-AR 373\"\n- \"ludwig bertha anton richard\" \u2192 \"LB-AR...\"\n- \"ingolstadt abel richard 373\" \u2192 \"IN-AR 373\"\n\nReturns the best-matching order with a confidence level:\n- **high** (>= 0.7): Strong name match (handles umlauts, typos, partial names)\n- **low** (>= 0.4): Weak match \u2014 might be the right person\n- **none** (< 0.4): No plausible name match found\n\nIf no `person` is provided, returns orders by plate only with confidence 'high'\n(no name verification needed).",
        "operationId": "identify_caller_api_identify_get",
        "parameters": [
          {
            "name": "plate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "License plate (required) - supports phonetic input",
              "title": "Plate"
            },
            "description": "License plate (required) - supports phonetic input"
          },
          {
            "name": "person",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Customer name for verification",
              "title": "Person"
            },
            "description": "Customer name for verification"
          }
        ],
        "responses": {
          "200": {
            "description": "Best matching order with confidence level",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentifyResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Query orders",
        "description": "Search and filter orders from the local database.\n\n### Available Filters\n\n- **text**: Free-text search across multiple fields\n- **plate**: Filter by license plate (partial match)\n- **person**: Filter by customer name (partial match)\n- **phone**: Filter by phone number\n- **email**: Filter by email address\n- **status**: Filter by project status\n- **damage**: Filter by damage category\n- **station**: Filter by station ID\n- **missing_parts**: Only show orders with missing parts\n- **zu_verplanen**: Filter by \"zu verplanen\" status (true=unplanned, false=planned)\n- **after/before**: Filter by shop date range (YYYY-MM-DD)\n- **finish_after/finish_before**: Filter by finish date range\n\n### Pagination\n\nUse `limit` and `offset` for pagination. Maximum 1000 results per request.",
        "operationId": "query_orders_api_orders_get",
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Free-text search query",
              "title": "Text"
            },
            "description": "Free-text search query"
          },
          {
            "name": "plate",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "License plate filter",
              "title": "Plate"
            },
            "description": "License plate filter"
          },
          {
            "name": "person",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Person name filter",
              "title": "Person"
            },
            "description": "Person name filter"
          },
          {
            "name": "phone",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Phone number filter",
              "title": "Phone"
            },
            "description": "Phone number filter"
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Email filter",
              "title": "Email"
            },
            "description": "Email filter"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Project status filter",
              "title": "Status"
            },
            "description": "Project status filter"
          },
          {
            "name": "damage",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Damage category filter",
              "title": "Damage"
            },
            "description": "Damage category filter"
          },
          {
            "name": "station",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Station ID filter",
              "title": "Station"
            },
            "description": "Station ID filter"
          },
          {
            "name": "missing_parts",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Filter orders with missing parts",
              "default": false,
              "title": "Missing Parts"
            },
            "description": "Filter orders with missing parts"
          },
          {
            "name": "zu_verplanen",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by zu verplanen status (true=unplanned, false=planned)",
              "title": "Zu Verplanen"
            },
            "description": "Filter by zu verplanen status (true=unplanned, false=planned)"
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Shop date >= YYYY-MM-DD",
              "title": "After"
            },
            "description": "Shop date >= YYYY-MM-DD"
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Shop date <= YYYY-MM-DD",
              "title": "Before"
            },
            "description": "Shop date <= YYYY-MM-DD"
          },
          {
            "name": "finish_after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Finish date >= YYYY-MM-DD",
              "title": "Finish After"
            },
            "description": "Finish date >= YYYY-MM-DD"
          },
          {
            "name": "finish_before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Finish date <= YYYY-MM-DD",
              "title": "Finish Before"
            },
            "description": "Finish date <= YYYY-MM-DD"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "description": "Maximum results per page",
              "default": 50,
              "title": "Limit"
            },
            "description": "Maximum results per page"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Number of results to skip",
              "default": 0,
              "title": "Offset"
            },
            "description": "Number of results to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of orders matching the filters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/orders/{order_id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get order details",
        "description": "Retrieve detailed information for a specific order by ID, including customer, vehicle, and scheduling data.",
        "operationId": "get_order_api_orders__order_id__get",
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Order Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Full order details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderDetailResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/orders/{order_id}/parts": {
      "get": {
        "tags": [
          "Parts"
        ],
        "summary": "Get order parts",
        "description": "Retrieve the parts list for an order, including part numbers, quantities, prices, and delivery status.",
        "operationId": "get_order_parts_api_orders__order_id__parts_get",
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Order Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of parts with status information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/orders/{order_id}/extended": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get extended order data",
        "description": "Retrieve extended/supplementary data for an order including:\n\n- **Damaged areas**: Visual damage mapping\n- **Documents**: Attached documents and files\n- **Images**: Photos of the vehicle/damage\n- **Other sections**: Additional data captured during sync\n\n**Note**: Extended data is only available if `sync_with_extended_data` is enabled in configuration.",
        "operationId": "get_order_extended_api_orders__order_id__extended_get",
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Order Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Extended data sections as key-value pairs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Order Extended Api Orders  Order Id  Extended Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health check",
        "description": "Returns OK if the service is running. Use for liveness probes.",
        "operationId": "health_health_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/ready": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Readiness check",
        "description": "Checks external dependencies. Use for readiness probes.",
        "operationId": "ready_ready_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "IdentifyResponse": {
        "properties": {
          "success": {
            "type": "boolean",
            "title": "Success"
          },
          "match": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/OrderModel"
              },
              {
                "type": "null"
              }
            ]
          },
          "confidence": {
            "type": "string",
            "title": "Confidence",
            "default": "none"
          },
          "confidence_score": {
            "type": "number",
            "title": "Confidence Score",
            "default": 0.0
          },
          "all_orders": {
            "items": {
              "$ref": "#/components/schemas/OrderModel"
            },
            "type": "array",
            "title": "All Orders",
            "default": []
          },
          "total": {
            "type": "integer",
            "title": "Total",
            "default": 0
          },
          "message": {
            "type": "string",
            "title": "Message",
            "default": ""
          }
        },
        "type": "object",
        "required": [
          "success"
        ],
        "title": "IdentifyResponse",
        "description": "Response for caller identification (plate + name verification)."
      },
      "LoginRequest": {
        "properties": {
          "username": {
            "type": "string",
            "title": "Username"
          },
          "password": {
            "type": "string",
            "title": "Password"
          }
        },
        "type": "object",
        "required": [
          "username",
          "password"
        ],
        "title": "LoginRequest",
        "description": "Login request."
      },
      "LoginResponse": {
        "properties": {
          "success": {
            "type": "boolean",
            "title": "Success"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "default": ""
          },
          "session_valid": {
            "type": "boolean",
            "title": "Session Valid",
            "default": false
          }
        },
        "type": "object",
        "required": [
          "success"
        ],
        "title": "LoginResponse",
        "description": "Login response."
      },
      "OrderDetailResponse": {
        "properties": {
          "success": {
            "type": "boolean",
            "title": "Success"
          },
          "order": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/OrderModel"
              },
              {
                "type": "null"
              }
            ]
          },
          "message": {
            "type": "string",
            "title": "Message",
            "default": ""
          }
        },
        "type": "object",
        "required": [
          "success"
        ],
        "title": "OrderDetailResponse",
        "description": "Single order detail response."
      },
      "OrderModel": {
        "properties": {
          "id": {
            "type": "integer",
            "title": "Id"
          },
          "short_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Short Name"
          },
          "plate": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Plate"
          },
          "person": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Person"
          },
          "phone": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Phone"
          },
          "email": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Email"
          },
          "damage": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Damage"
          },
          "project_status": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Project Status"
          },
          "station_id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Station Id"
          },
          "station_state": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Station State"
          },
          "shop_date": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Shop Date"
          },
          "repair_date": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Repair Date"
          },
          "finish_date": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Finish Date"
          },
          "planned_delivery_date": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Planned Delivery Date"
          },
          "parts_status": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Parts Status"
          },
          "missing_parts": {
            "type": "integer",
            "title": "Missing Parts",
            "default": 0
          },
          "est_hours_karo": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Est Hours Karo"
          },
          "est_hours_lack": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Est Hours Lack"
          },
          "est_hours_mech": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Est Hours Mech"
          },
          "vin": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Vin"
          },
          "kba": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Kba"
          },
          "manufacturer_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Manufacturer Name"
          },
          "model_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Model Name"
          },
          "sub_model_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Sub Model Name"
          },
          "engine_type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Engine Type"
          },
          "engine_size": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Engine Size"
          },
          "engine_power": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Engine Power"
          },
          "curb_weight": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Curb Weight"
          },
          "gross_weight": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Gross Weight"
          },
          "first_registration": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "First Registration"
          },
          "last_registration": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Registration"
          },
          "hu_au": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Hu Au"
          },
          "mileage": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Mileage"
          },
          "engine_code": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Engine Code"
          },
          "country_of_origin": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Country Of Origin"
          },
          "vehicle_owner": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Vehicle Owner"
          },
          "owner_phone": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Owner Phone"
          },
          "owner_address": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Owner Address"
          },
          "appointment_date": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Appointment Date"
          },
          "external_calculation": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "External Calculation"
          },
          "express_link": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Express Link"
          },
          "address": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Address"
          },
          "zip_code": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Zip Code"
          },
          "city": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "City"
          },
          "country": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Country"
          },
          "zu_verplanen": {
            "type": "integer",
            "title": "Zu Verplanen",
            "default": 0
          },
          "plate_city": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Plate City"
          },
          "plate_city_phonetic": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Plate City Phonetic"
          },
          "remarks": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Remarks"
          },
          "total_net_cost": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Total Net Cost"
          },
          "total_gross_cost": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Total Gross Cost"
          },
          "insurance_json": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ],
            "title": "Insurance Json"
          },
          "costs_json": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ],
            "title": "Costs Json"
          }
        },
        "type": "object",
        "required": [
          "id"
        ],
        "title": "OrderModel",
        "description": "Order/Project record."
      },
      "PartModel": {
        "properties": {
          "order_id": {
            "type": "integer",
            "title": "Order Id"
          },
          "part_no": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Part No"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description"
          },
          "lead_no": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Lead No"
          },
          "order_no": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Order No"
          },
          "row_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Row Id"
          },
          "part_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Part Id"
          },
          "qty": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Qty"
          },
          "price_each": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Price Each"
          },
          "price_total": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Price Total"
          },
          "status": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Status"
          },
          "status_code": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Status Code"
          },
          "status_icon": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Status Icon"
          },
          "order_date": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Order Date"
          },
          "delivery_date": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Delivery Date"
          },
          "eta_date": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Eta Date"
          },
          "is_missing": {
            "type": "integer",
            "title": "Is Missing",
            "default": 0
          },
          "is_to_order": {
            "type": "integer",
            "title": "Is To Order",
            "default": 0
          },
          "is_ordered": {
            "type": "integer",
            "title": "Is Ordered",
            "default": 0
          },
          "is_delivered": {
            "type": "integer",
            "title": "Is Delivered",
            "default": 0
          },
          "is_backorder": {
            "type": "integer",
            "title": "Is Backorder",
            "default": 0
          },
          "is_mandatory": {
            "type": "integer",
            "title": "Is Mandatory",
            "default": 0
          },
          "is_price_checked": {
            "type": "integer",
            "title": "Is Price Checked",
            "default": 0
          }
        },
        "type": "object",
        "required": [
          "order_id"
        ],
        "title": "PartModel",
        "description": "Part record for an order."
      },
      "PartsResponse": {
        "properties": {
          "success": {
            "type": "boolean",
            "title": "Success"
          },
          "parts": {
            "items": {
              "$ref": "#/components/schemas/PartModel"
            },
            "type": "array",
            "title": "Parts"
          },
          "total": {
            "type": "integer",
            "title": "Total"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "default": ""
          }
        },
        "type": "object",
        "required": [
          "success",
          "parts",
          "total"
        ],
        "title": "PartsResponse",
        "description": "Parts list response."
      },
      "QueryResponse": {
        "properties": {
          "success": {
            "type": "boolean",
            "title": "Success"
          },
          "orders": {
            "items": {
              "$ref": "#/components/schemas/OrderModel"
            },
            "type": "array",
            "title": "Orders"
          },
          "total": {
            "type": "integer",
            "title": "Total"
          },
          "limit": {
            "type": "integer",
            "title": "Limit"
          },
          "offset": {
            "type": "integer",
            "title": "Offset"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "default": ""
          }
        },
        "type": "object",
        "required": [
          "success",
          "orders",
          "total",
          "limit",
          "offset"
        ],
        "title": "QueryResponse",
        "description": "Query orders response."
      },
      "SyncResponse": {
        "properties": {
          "success": {
            "type": "boolean",
            "title": "Success"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "default": ""
          },
          "status": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SyncStatusModel"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": [
          "success"
        ],
        "title": "SyncResponse",
        "description": "Sync trigger response."
      },
      "SyncStatusModel": {
        "properties": {
          "is_running": {
            "type": "boolean",
            "title": "Is Running"
          },
          "last_sync_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Sync At"
          },
          "last_sync_duration_seconds": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Sync Duration Seconds"
          },
          "total_orders": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Total Orders"
          },
          "synced_orders": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Synced Orders"
          },
          "failed_orders": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Failed Orders"
          },
          "error": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Error"
          }
        },
        "type": "object",
        "required": [
          "is_running"
        ],
        "title": "SyncStatusModel",
        "description": "Sync operation status."
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          },
          "input": {
            "title": "Input"
          },
          "ctx": {
            "type": "object",
            "title": "Context"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "PlanSo session management. Login and maintain authenticated sessions."
    },
    {
      "name": "Sync",
      "description": "Data synchronization operations. Trigger manual syncs and monitor sync status."
    },
    {
      "name": "Orders",
      "description": "Order management. Query, create, update, and delete repair orders."
    },
    {
      "name": "Parts",
      "description": "Parts information. View parts lists and status for orders."
    },
    {
      "name": "Health",
      "description": "Service health and readiness checks."
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}